body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#navbar {
    margin-top: -20px;
    background-color: goldenrod;
    position: fixed;

    width: 300px;
    height: 100%;
}

#navbar header {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#navbar a {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px 10px;
    width: 280px;
    color: goldenrod;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}


.main-section {
    margin-left: 310px;
    background-color: black;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 20px;
}

.main-section header {
    color: goldenrod;
    font-size: 25px;
    font-weight: 600;
    padding-top: 50px;
}

.main-section p,
article,
li,
code {
    color: aliceblue;
    font-size: 20px;
}

.main-section code {
    background-color: goldenrod;
    color: black;
    font-size: 15px;
}


@media screen and (max-width: 816px) {
    #navbar {
        margin-top: -20px;
        background-color: goldenrod;
        width: 98.8%;
        height: 150px;
        overflow-y: auto;
        overflow-x: hidden;
        text-align: center;
        padding-bottom: 20px;
        position: fixed;
    }

    .main-section {
        padding-top: 110px;
        margin: 0;
    }

}

@media screen and (max-width:350px) {
    .main-section {
        padding-right: 20px;
        padding-left: 20px;
    }
}